/* By Kevin Van Cott*/

a {
	text-decoration: none;
	font-style: normal;
}

a:hover {
	color: darkred;
	font-weight: bold;
}

a:active {
	text-decoration: none;
	color: red;
	text-align: center;
	font-style: normal;
}

a:visited {
	text-decoration: none;
	font-style: normal;
}

body,
main {
	margin: auto;
	font-family: Calibri, monospace;
	text-align: center;
	font-size: 16px;
}

nav {
	background-color: #222;
	color: white;
	padding: 5px;
	width: 99.2%;
}

nav a {
	text-align: left;
	margin-left: auto;
	color: white;
	vertical-align: middle;
	padding: 5px;
}

nav a:hover {
	color: white;
}

nav a:active {
	color: white;
}

nav a:visited {
	color: white;
}

footer {
	padding: 40px;
	margin: 10px auto;
	border-top: dashed 1px #000;
	width: 80%;
}

footer a {
	color: blue;
}

h1 {
	text-align: center;
	font-size: 38pt;
	font-weight: bold;
	margin: 10px;
	font-family: monospace;
}

h2 {
	text-align: center;
	font-family: monospace;
}

h3 {
	text-align: center;
	margin: 6px;
}

h4 {
	text-align: center;
	font-size: 1.0em;
}

table {
	border-collapse: collapse;
	margin: auto;
}

table th {
	text-align: right;
}

table td {
	padding: 2px;
}

button {
	font-family: Arial, sans-serif;
	font-weight: bold;
	z-index: 3;
	font-size: 1em;
	height: 2.3em;
	padding: 8px;
	margin-top: 3px;
}

select {
	min-width: 100px;
	cursor: pointer;
	margin: 3px;
}

option {
	cursor: pointer;
}

input {
	display: inline;
	margin: 6px 1px;
	text-align: center;
	max-width: 80px;
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

input[type="number"] {
	cursor: text;
}

input[type="text"] {
	width: 100px;
	cursor: text;
	margin: 0px;
}

input[type="range"] {
	width: 80%;
}

.standard {
	font-weight: bolder;
}

.rare {
	font-weight: lighter;
}

.monitor {
	border: 5px solid #aaa;
	background-image: radial-gradient(#444, #111);
	margin-bottom: 10px;
	margin-top: 10px;
	z-index: 1;
	display: table;
	padding: 0px;
}

.monitor p {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Arial Black';
	font-size: 2em;
	color: #fff;
	text-align: center;
}

.monitor:active {
	-webkit-box-shadow: 8px 8px 20px #777;
	box-shadow: 8px 8px 20px #777;
	cursor: move;
	z-index: 2;
}

.monitor:hover {
	-webkit-box-shadow: 8px 8px 20px #777;
	box-shadow: 8px 8px 20px #777;
	cursor: move;
}

.monitorBox {
	display: none;
	text-align: left;
}

.monitorOptions {
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: dashed 1px #888;
	width: 100%;
}

.stats {
	margin-top: 15px;
	padding-bottom: 6px;
	border-bottom: dashed 1px #888;
	border-top: dashed 1px #888;
	width: 100%;
}

.stats th {
	text-align: right;
}

.stats td {
	line-height: 1em;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	word-wrap: normal;
}

.stats th {
	padding-bottom: 10px;
}

.extraSpecs {
	display: none;
	margin-top: 6px;
	padding-bottom: 6px;
	width: 100%;
}

.extraSpecs th {
	padding: 6px;
}

.extraSpecs td {
	padding: 6px;
}

.extraSpecs input[type=text] {
	max-width: 150px;
}

.toggle {
	font-family: 'Arial Black';
	font-size: 1.6em;
	color: darkblue;
}

.toggle:hover {
	cursor: pointer;
	color: darkred;
}

.search {
	border-bottom: dashed 1px #888;
	width: 100%;
}

.search td {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.search a {
	padding: 7px;
	text-align: center;
	background-color: #ccc;
	border-radius: 12px;
	color: darkblue;
}

.searchEngine {
	margin-top: 20px;
}

.noscriptmsg {
	color: darkred;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
}

#prebuiltSetups {
	margin-bottom: 10px;
}

#buttons {
	margin: auto;
	width: auto;
	min-width: 800px;
	max-width: 800px;
	height: 70px;
	min-height: 70px;
	max-height: 400px;
	border-bottom: dashed white 2px;
	resize: vertical;
	overflow: auto;
}

#buttons:active {
	border-bottom: dashed darkred 2px;
}

#zoomIn:hover {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

#zoomOut:hover {
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

#areaTip {
	text-align: right;
	font-size: .6em;
	margin: 10px 5px;
	line-height: 0;
}

#monitor1 {
	margin-left: auto;
}

#save {
	width: 50%;
	max-width: 700px;
	margin: auto;
	text-align: left;
	color: darkred;
	font-weight: bold;
	line-height: 1.5em;
}

input[type="submit"] {
	font-size: 1.5em;
	font-weight: bold;
	max-width: 300px;
	width: 300px;
	padding: 5px;
	cursor: pointer;
}

#analysis {
	padding-bottom: 20px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	min-width: 480px;
	max-width: 700px;
	width: 50%;
	border-top: 1px dashed #888;
	border-bottom: 1px dashed #888;
}

#analysis table {
	margin: auto;
	font-size: 1.1em;
}

#analysis th {
	text-align: right;
	padding-right: 10px;
}

#analysis td {
	text-align: left;
}

@media only screen and (max-width: 768px) {
	body,
	main {
		max-width: 768px;
		width: 99%;
	}
	#buttons {
		max-width: 750px;
		width: 100%;
		font-size: 1em;

	}
	button {
		font-size: .9em;
		padding: 2px;
		margin: 0px;
	}
	h1 {
		font-size: 1.4em;
	}
	h2 {
		font-size: 1.2em;
	}
	h3 {
		font-size: 1.1em;
	}
	h4 {
		font-size: 1em;
	}
	#save {
		width: 90%;
	}
	#analysis {
		width: 90%;
	}
}

@media only screen and (max-width: 480px) {
	body,
	main {
		width: 100%;
		max-width: 480px;
		font-size: 1.1em;
	}
	#buttons {
		width: 90%;
		max-width: 480px;
		min-width: 360px;
		min-height: 360px;
		height: auto;
		max-height: 900px;
		margin: auto;
	}
	button {
		display: block;
		padding: 0px;
		margin: 5px auto;
		width: 50%;
		text-align: center;

	}
	select {
		margin: auto;
		text-align: center;
	}
	.monitorBox {

		margin: 0px;
		padding: 0px;
	}
	#save {
		width: 99%;
	}
	#analysis {
		max-width: 480px;
		min-width: 360px;
		width: 99%;
	}
}

@media print {
	.stats {
		margin-bottom: 0px;
		line-height: 1.2;
	}
	#totals p {
		margin-bottom: 0px;
		margin-top: 10px;
	}
	h1,
	h2 {
		font-size: 1.3em;
		margin-top: 0px;
		padding: 0px;
		line-height: 0.8;
	}
	h3,
	footer,
	.monitorOptions,
	.extraSpecs,
	.search,
	input,
	select,
	button,
	.searchEngine,
	#save,
	#areaTip {
		display: none;
		border: none;
		/*Gets rid of buttons and options for printing*/
	}

	section {
		border: none;
	}

	div {
		border: none;
	}

	#analysis {
		border: none;
	}
}

@page {
	size: A4 landscape;
	/*forces printing in landscape, at least works for chrome*/
}
