@use 'sass:color';
@use '@material/theme/color-palette';
@use '@material/theme/index' as theme with
  (
    $primary: #e73a00,
    $secondary: #676778,
    $surface: #fff,
    $background: #fff,
    $error: color-palette.$red-900
  );
@use '@material/typography/index' as typography;
@use '../common.scss';

:root {
  --input-background-color: whitesmoke;
  --input-label-color: rgba(0, 0, 0, 0.42);
}

html,
body {
  @include typography.typography('body1');
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0;
  padding: 0;
}

main {
  background-image: linear-gradient(#fff, #ccc);
  min-height: calc(100vh - 100px);
  padding-bottom: 100px;
}
