main {
  min-height: 1800px;
}

.setupContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.monitorContainer {
  overflow: visible;
  z-index: 0;
  margin: 0.5rem;
  border: 1px solid black;
}

.monitor {
  display: table;
  background-image: radial-gradient(#444, #111);
  border-radius: 3px;
  border-style: solid;
  color: #fff;
  cursor: move;
  transition: all 0.4s ease;
  transition-property: width, height, border;
  z-index: 1;
}

.monitor:active {
  box-shadow: 8px 8px 20px #777;
  z-index: 2;
}

.monitor:hover {
  box-shadow: 8px 8px 20px #777;
}

.monitorOptions {
  border: 1px solid red;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  width: 100%;
}

#sizeOptions label, #aspectRatioOptions label, #resolutionOptions label, #featureOptions label, #sellerInfoOptions label {
  display: inline-block;
  padding-right: 0.5rem;
  min-width: 150px;
  text-align: right;
}

#featureChecks label, #portChecks label {
  display: inline-block;
  padding-right: 0.5rem;
  min-width: 80px;
  text-align: left;
}

input, select {
  margin: 0.5rem auto;
  text-align: left;
}

input[type="checkbox"] {}

.link {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin: auto;
}

.toggleButton {
  color: blue;
  cursor: pointer;
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  margin: -0.7rem 0 0 1rem;
  position: absolute;
}

.react-slidedown {
  transition-duration: 400ms;
  transition-timing-function: ease;
}