main {
  min-height: 1200px;
}

.setupContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.monitorContainer {
  overflow: visible;
  z-index: 0;
  margin: 0.5rem;
}

.monitor {
	display: table;
  background-image: radial-gradient(#444, #111);
  border-radius: 3px;
  border-style: solid;
  color: #fff;
  cursor: move;
  transition: all 0.4s ease;
  transition-property: width, height, border;
  z-index: 1;
}

.monitor:active {
	box-shadow: 8px 8px 20px #777;
	z-index: 2;
}

.monitor:hover {
	box-shadow: 8px 8px 20px #777;
}

label {
  display: block;
  padding-right: 0.5rem;
  text-align: right;
  width: 100%;
}

input, select {
  margin: 0.5rem auto;
  text-align: center;
}